*{
    box-sizing: border-box;
}

:root{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    font-family: "Poppins",sans-serif;
}

a{
    color:#000;
    text-decoration: none;
}

/* ---------------------------- Main Container -------------------------------------------- */

.main{
    display: flex;
    
}

/* ---------------------------- Cover section ---------------------------- */

.cover-section{
    width: 56%;
    position: relative;
}

.cover-img{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    object-fit: cover;
}

.cover-content{
    padding: 100px 136px 0 66px;
}

.company-title{
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.company-desc{
    margin-top: 273px;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #FFFFFF;
}

.company-info{
    margin-top: 440px;
}

.company-info span{
    display: block;
}

.company-info .name{
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.company-info .position{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/* ---------------------------- Main section ---------------------------- */

.main-section{
    width: 44%;
}

.main-content{
    padding: 200px 100px 0;
}

.main-title{
    font-weight: 500;
    font-size: 3.2rem;
    letter-spacing: 0.02em;
    color: #000000;
}

.main-desc{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #8D8D8D;
}

.main-content .form{
    margin-top: 68px;
}

.form-input,.form-label{
    display: block;
}

.form-label{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #000000;
}

.form-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 15px;
    font-size:2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-input:focus{
    outline: none;
    box-shadow: 0 4px 2px -2px gray;
}

.form-group + .form-group{
    margin-top: 35px;
}

.btn-link{
    margin-top: 70px;
}

.btn{
    min-width: 435px;
    height: 65px;
    border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    font-weight: 500;
    font-size: 2rem;
    opacity: 0.8;
    letter-spacing: 0.02em;
}

.btn + .btn{
    margin-top: 20px;
}

.create-btn{
    background: #000000;
    color:#FFF;
}

.create-btn:hover{
    opacity: 1;
    box-shadow: 0 4px 2px -2px #ccc;

}

.log-btn{
    display: flex;
    align-items: center;
    border: 1px solid #8D8D8D;
    color:#000;
}

.log-btn:hover{
    box-shadow: 0 4px 2px -2px #000;
}

.google-logo{
    margin-right: 19px;
}

.alternative{
    margin-top: 155px;
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.02em;
    color: #000000;
}

.another{
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.02em;
    color: #3EC1F3;
}
